.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href="/") Mockx
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li(class="#{currentTitle=='newmock'?'active':''}")
            a(href="/admin/mock/new") 新增数据
          li(class="#{currentTitle=='mocklist'?'active':''}")
            a(href="/admin/mock/list") mock列表
          li(class="#{currentTitle=='newcate'?'active':''}")
            a(href="/admin/category/new") 添加分类
          li(class="#{currentTitle=='catelist'?'active':''}")
            a(href="/admin/category/list") 分类列表
          li(class="#{currentTitle=='userlist'?'active':''}")
            a(href="/admin/user/list") 用户列表
        else
          li(class="#{currentTitle=='mocklist'?'active':''}")
            a(href="/mocklist") mock列表

      ul.nav.navbar-nav.navbar-right
        if user
          li
            a(href="#") 欢迎您,#{user.name}
          li
            a(href="/logout") 登出
        else
          li
            a(href="#", data-toggle="modal", data-target="#signupModal") 注册
          li
            a(href="#", data-toggle="modal", data-target="#signinModal") 登录
      form.navbar-form.navbar-right(method='GET', action='/results')
        .form-group
          input.form-control(type='text', name='q')
        button.btn.btn-default(type='submit') 搜索
#signupModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/user/signup")
        .modal-header 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名
            input#signupName.form-control(name="user[name]", type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="user[password]", type="password")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/user/signin")
        .modal-header 登录
        .modal-body
          .form-group
            label(for="signinName") 用户名
            input#signinName.form-control(name="user[name]", type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="user[password]", type="password")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 提交