extends ../layout

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/mock", enctype="multipart/form-data")
        if mock._id
          input(type="hidden", name="mock[_id]", value=mock._id)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 分类
          .col-sm-10
            input#inputCategory.form-control(type="text", name="mock[categoryName]", value=mock.categoryName)
        .form-group
          label.col-sm-2.control-label 分类选择
          each cat in categories
            label.radio-inline
              if mock.category
                input(type="radio", name="mock[category]", value=cat._id, checked=cat._id.toString()==mock.category.toString())
              else
                input(type="radio", name="mock[category]", value=cat._id)
              | #{cat.name}
        .form-group
          label.col-sm-2.control-label(for="inputName") 名字
          .col-sm-10
            input#inputName.form-control(type="text", name="mock[name]", value=mock.name)
        .form-group
          label.col-sm-2.control-label(for="inputJson") json内容
          .col-sm-10
            input#inputJson.form-control(type="text", name="mock[json]", value=mock.json)
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入
  script(src='/build/admin.min.js')