extends ../layout

block content
  .container
    .row
      .panel.panel-default
        .panel-heading
          h3 #{keyword}
        .panel-body
          if mocks && mocks.length > 0
            each item in mocks
              .col-md-2  
                    h3 #{item.name}
                    p
                      a.btn.btn-primary(href="/mock/#{item._id}", role="button")查看
      ul.pagination
        - for (var i = 0; i < totalPage; i++) {
          - if (currentPage == (i + 1)) {
              li.active
                span #{currentPage}
          - }
          - else {
              li
                a(href='/results?#{query}&p=#{i}') #{i + 1}
          - }
        - }